<main>
 
  <header class="brand-name">
  <div style="background-color: #300657;height:80px;width: 100%;">
    
    <h1 style="color:aliceblue;font-size: large;padding: 20px;">
      <span style="vertical-align: middle;">
       <a href=""><img style="
        height: 35px; width: 35px;border-radius: 50%;" src="/assets/church1.jpg"/> </a>
      </span>&nbsp;&nbsp;&nbsp;Carmel Connect</h1>
      </div>
      <div style="background-color: #650db8;height:20px;color: #fff;">
        <span><a style="margin-left: 5px;color: #fff !important;text-decoration: none !important;" href="/">Back</a>&nbsp;|</span>
        <span><a style="margin-left: 5px;color: #fff !important;text-decoration: none !important;" href="/">Home</a>&nbsp;|</span>
        <span><a style="margin-left: 5px;color: #fff !important;text-decoration: none !important;" href="/addunit">Add</a>&nbsp;|</span>
        <span><a style="margin-left: 5px;color: #fff !important;text-decoration: none !important;" href="/updateunit">View</a></span>
      </div>
  
  </header>
  
  <section class="content">
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </section>
</main>