<div>
    <mat-grid-list cols="4" rowHeight="130px">
        
          <mat-grid-tile
            [colspan]="tiles[0].cols"
            [rowspan]="tiles[0].rows"
            [style.background]="tiles[0].color">
            <div style="padding: 20px;" >
               <h2 style=" margin-top: 30px;
               text-transform: capitalize; text-align: center;
               font-size: 25px;"> {{unit.name}} BCC</h2>
               <div style="color: rgb(53, 52, 52);">
                <p> <span> {{unit.name}} belongs to Block no {{unit.block_no}} . </span>
              BCC consist of <b>{{family.length}}</b> families with total <b>{{members.length}}</b> members. 
                
                </p></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="tiles[1].cols"
            [rowspan]="tiles[1].rows"
            [style.background]="tiles[1].color">
            <div style="    width: 100%;">
            <div style="background-color: #4b834b;
            color: white;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: 500;">Leadership & Animators</div>
            <div style="max-height: 300px;
            overflow-y: scroll;">
            @for (item of leaders; track item; let index = $index) {
            <div class="cont" >
                <div class="heading">{{item.position}} </div>
                <div class="name">{{item.name}}, {{item.family}}</div>
                <div class="phone">{{item.phone}} <span> | </span> {{item.mail}}</div>
            </div>
          }
            
        </div>
       
           
            </div>
        </mat-grid-tile>
      
       
        <mat-grid-tile
            [colspan]="tiles[3].cols"
            [rowspan]="tiles[3].rows"
            [style.background]="tiles[3].color">
            <mat-tab-group style="padding: 0px 40px;">
              <mat-tab label="Families"> 
            <div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"><a href="/family/{{element.id}}"> {{element.id}}</a> </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.family_head_name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="familyname">
                        <th mat-header-cell *matHeaderCellDef> Family Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="no_of_members">
                        <th mat-header-cell *matHeaderCellDef> Total Members</th>
                        <td mat-cell *matCellDef="let element"> {{element.no_of_members}} </td>
                      </ng-container>

                     
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
            </div>
            </mat-tab>
            <mat-tab label="Members"> 
              <div>
                  <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource2">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <!-- Weight Column -->
                        <ng-container matColumnDef="dob">
                          <th mat-header-cell *matHeaderCellDef> DoB </th>
                          <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                        </ng-container>
                    
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="gender">
                          <th mat-header-cell *matHeaderCellDef> Gender</th>
                          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                        </ng-container>
  
                          <!-- Name Column -->
                          <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Phone </th>
                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                          </ng-container>
                      
                          <!-- Weight Column -->
                          <ng-container matColumnDef="mail">
                            <th mat-header-cell *matHeaderCellDef> Mail </th>
                            <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
                          </ng-container>
                      
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="marital_status">
                            <th mat-header-cell *matHeaderCellDef> Married</th>
                            <td mat-cell *matCellDef="let element"> {{element.marital_status}} </td>
                          </ng-container>
                          <ng-container matColumnDef="education_status">
                            <th mat-header-cell *matHeaderCellDef> Education</th>
                            <td mat-cell *matCellDef="let element"> {{element.education_status}} </td>
                          </ng-container>
                          <ng-container matColumnDef="job">
                            <th mat-header-cell *matHeaderCellDef> Job</th>
                            <td mat-cell *matCellDef="let element"> {{element.job}} </td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                      </table>
                    
                      <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
              </div>
              </mat-tab>
            </mat-tab-group>
        </mat-grid-tile>
        
      </mat-grid-list>
</div>
